[Unit]
Description=Consume infrared cell events
Requires=setup-ir.service
Requires=mopidy.service

[Service]
ExecStart=/usr/local/bin/argosir

[Install]
WantedBy=default.target
