[Unit]
Description=Mopidy callbacks to IR events
Requires=setup-ir.service mopidy.service
After=setup-ir.service mopidy.service

[Service]
ExecStart=/usr/local/bin/mopidyir -c /etc/mopidyir.yaml

[Install]
WantedBy=default.target
