[Unit]
Description=Consume infrared cell events
Requires=setup-ir.service mopidy.service
After=setup-ir.service mopidy.service

[Service]
ExecStart=/usr/local/bin/argosir -c /etc/argosir.yaml

[Install]
WantedBy=default.target
